<div class="container">
  <div class="col-lg-6 col-md-6">
    <label for="">Current recipes</label>
    <div class="well">
      <% @recipes.each do |recipe| %>
        <div class="well">
          <a href="/recipes/<%= recipe.id %>"><h4><%= recipe.name %></h4></a>
            <h5>Ingredients</h5>
            <ul>
              <% recipe.ingredients.each do |ingredient| %>
                <li><%= ingredient.name %></li>
              <% end %>
            </ul>
            <h5>Instructions</h5>
            <p><%= recipe.instructions %></p>
            <h5>Tags</h5>
            <ul>
              <% recipe.tags.each do |tag| %>
                <li><%= tag.name %></li>
              <% end %>
            </ul>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-lg-6 col-md-6">
    <label for="">Create recipe</label>
    <div class="well">
      <form class="" action="/recipes" method="post" id="ingredient-form">
        <div class="ingredient-list">
          <div class="form-group">
            <input class="form-control" type="text" name="recipe_name" placeholder="Enter a name...">
          </div>
          <div class="form-group">
            <label for="">Ingredients</label>
            <div class="input-group">
              <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Add Ingredient <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <% @ingredients.each do |ingredient| %>
                      <li><a href="#" class="ingredient"><%= ingredient.name %></a></li>
                    <% end %>
                  </ul>
                </div><!-- /btn-group -->
              </div>
              <input required name="ingredient0" type="text" class="form-control" aria-label="...">
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-default" type="button" id="add-input-field">+</button>
          </div>

          <div class="form-group">
            <label for="instructions">Instructions</label>
            <textarea class="col-xs-12" name="instructions" placeholder="Enter instructions here..."></textarea>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <label for="">Tags</label>
              <div id="tag-input"></div>
              <ul hidden id="tag-list">
              </ul>
            </div>
          </div>

          <button style="margin-top: 10px;"class="btn btn-primary" type="submit" name="button">Create Recipe</button>
        </form>
      </div>
    </div>
  </div>
</div>
